/*===== reset.css =====*/
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }
    main {
        padding: 10px;
    }
    button, .btn {
        width: 100%;
        padding: 15px;
    }
}

/*===== Header and Footer.css =====*/
/* Мобильные устройства (до 768px) */
@media (max-width: 768px) {
    .navbar, .footer-navbar {
        flex-direction: column;
        align-items: end;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #009688;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .menu-toggle {
        display: block;
    }
    .nav-links, .footer-links {
        display: none;
    }

    .header-logo img, .footer-logo img {
        width: 60px;
    }

    .header_nav-icon img, .footer_nav-icon img {
        display: none;
    }

    header, footer {
        padding: 10px 0;
    }

    .nav-links a, .footer-links a {
        font-size: 1em;
        text-align: center;
        padding: 0зч;
    }
}

/*===== MAIN.css =====*/
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }
    .main-left {
        width: 90%;
        padding: 0;
        padding-right: 0;
    }
    .main-left {
        h1 {
            font-size: 24px;
            margin-bottom: 15px;
        }
        p {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    .main-right {
        display: none;
    }

    .image-container {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .matrix {
        flex-direction: column;
        padding: 20px;
    }
    .matrix-right {
        width: 90%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .matrix-left {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tabl {
        width: 100%;
        display: contents;
        font-size: 12px;
        border: 1px solid #ddd;
        border-collapse: collapse;
        line-height: 1rem;
    }
    .tabl tr {
        display: table-row;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }
    .tbody {
        padding-top: 10px;
    }
    .tabl td {
        padding: 8px;
        text-align: center;
        display: table-cell;
    }
    .tabl td:first-child {
        width: 150px;
    }
    .header-row,
    .total-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background: #e0e0e0;
        font-weight: bold;
    }
    .chakra-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

/*===== FORM.css =====*/
@media (max-width: 768px) {
    .form {
        padding: 15px;
    }

    .btn {
        width: 100%;
        padding: 12px;
    }
}

/*===== SVG.css =====*/
@media (max-width: 768px) {
    .svg-container {
        padding: 10px;
    }

    .personal-calculation-table {
        width: 100%;
    }
}

/*===== Scroll-To-Top.css =====*/
/* Мобильных устройств (до 480px) */
@media (max-width: 480px) {
    #scrollToTopBtn {
        position: fixed;
        border-radius: 0px;
        bottom: 0;
        left: 0;
        z-index: 101;
        width: 100px;
        height: 100px;
        padding: 8px;
    }
}


/*===== Cookies.css =====*/
@media (max-width: 768px) {
    .cookie-container {
        width: 90%;
        padding: 8px;
    }

    .cookie-content {
        font-size: 14px;
    }

    .cookie-buttons button {
        padding: 8px 16px;
        margin: 4px;
    }
}
