@font-face {
    font-family: 'Gilroy';
    src:    url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
            url('../fonts/GilroyGilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src:    url('../fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
            url('../fonts/GilroyGilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}