/*===== FORM =====*/
.form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}
.form_input input {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    background: #e7f6f3;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Gilroy', sans-serif;
}
