/*===== FORM =====*/
.form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}
.form_input input {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    background: #e7f6f3;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

.form_toggle {
    display: flex;
    margin: 10px 0;
    padding: 10px 0;
}

.form_toggle-item input {
    display: none;
}
.form_toggle-item label {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    cursor: pointer;
    width: 48%;
    text-align: center;
    background-color: #f8f9fa;
}
.form_toggle-item input:checked + label {
    background-color: #009688;
    color: #ffffff;
}