/*===== MAIN =====*/
.main-right {
    max-width: 45%;
    position: relative;
}
.main-right img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
/*===== Поля ввода данных =====*/
.main-left {
    position: relative;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    z-index: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.main-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/background/background-1.webp');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    opacity: 0.6;
    z-index: -1;
}
/*===== HOVER-Effect =====*/
.main-left:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 133, 89, 0.7), 0 0 40px rgba(0, 126, 148, 0.5), 0 0 60px rgba(0, 115, 229, 0.3);
    background: linear-gradient(123deg, #008559 0%, #007e94 50%, #00e59c 100%);
    background-clip: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.main-left:hover .info-content {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.main-left:hover .info-image {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/*=== Возраст ===*/
.age-display {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#ageText {
    font-size: 18px;
    color: #333;
}

/*===== MAIN (Изображения) =====*/
.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.image-container:hover img {
    transform: scale(1.05);
    filter: brightness(0.9);
}
.image-container:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}
/* Стиль для текста на изображении */
.image-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, color 0.3s ease;
}
.image-container:hover .image-text {
    transform: scale(1.05);
    color: #f8f9fa;
}

.image-text h2 {
    margin: 0;
    font-size: 1.8em;
    font-weight: bold;
}
.image-text p {
    margin: 5px 0 0;
    font-size: 1em;
}
