/*===== MATRIX =====*/
.matrix {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}
.container.matrix {
    background: linear-gradient(123deg, #008559 0%, #007e94 50%, #00e59c 100%);
    background-clip: border-box;
    padding: 20px;
}

.matrix-left, .matrix-right {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.matrix-left {
    position: relative;
    width: 570px;
    height: 570px;
}


.matrix-right {
    position: relative;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}
.matrix-right:hover {
    background-color: #ffffff;
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.matrix-right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/background/background-1.webp');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    opacity: 0.6;
    z-index: -1;
}

/*===== karta-Matrix =====*/
.karta {
    display: contents;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 100%;
}


.title {
    font-size: 24px;
    margin: 10px 0;
    font-weight: bold;
    color: #009688;
}
.subtitle {
    font-size: 20px;
    margin: 5px 0;
    color: #666666;
}

tbody {
    background-image: url('../img/background/background-1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tabl {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    line-height: 1.5rem;
}

.header-row {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}
.header-row td {
    padding: 10px;
    background: rgba(224, 224, 224, 0.5);
    text-align: center;
    vertical-align: middle;
}


.chakra-row td {
    text-align: center;
    vertical-align: middle;
    color: black;
    background: rgba(224, 224, 224, 0.5);
}

.chakra-number {
    padding: 10px;
    border-radius: 5px;
}
#chakra7 .chakra-number { background: #993399; color: white;}
#chakra6 .chakra-number { background: #3366ff; color: white;}
#chakra5 .chakra-number { background: #33ccff; color: white;}
#chakra4 .chakra-number { background: #66cc66; color: white;}
#chakra3 .chakra-number { background: #ffff99; color: #000000; }
#chakra2 .chakra-number { background: #ff9900; color: white;}
#chakra1 .chakra-number { background: #cc3333; color: white;}

.total-row {
    font-weight: bold;
}
.total-row td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    color: black;
}
.total-row, .n54, .n55, .n56 {
    background: rgba(224, 224, 224, 0.5);
}



/*=== Tooltip container ===*/
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Place the tooltip above the text */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

