/*===== Сброс стилей =====*/
body {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(5deg, rgba(212, 252, 121, 0.4) 0%, rgba(150, 230, 161, 0.4) 50%, rgba(0, 198, 255, 0.4) 100%);
    background-attachment: fixed;
    color: #333;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}
.image-container {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.426);
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

main {
    padding: 20px;
}


/*===== BUTTONS =====*/
button {
    font-family: 'Gilroy', sans-serif;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/*=== Стиль кнопки ===*/
.btn {
    padding: 12px 20px;
    background-color: #009688;
    margin-top: 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #89c194;
}
