/* Стили для контейнера SVG */
.svg-container {
    text-align: center;
    border-radius: 10px;
    width: 550px;
    height: 550px;
    transition: transform 0.3s ease;
}

svg {
    width: 100%;
    height: 100%;
    font-family:    ui-sans-serif, 
                    system-ui, 
                    -apple-system, 
                    BlinkMacSystemFont, 
                    "Segoe UI", 
                    Roboto, 
                    "Helvetica Neue", 
                    Arial, 
                    "Noto Sans", 
                    sans-serif, 
                    "Apple Color Emoji", 
                    "Segoe UI Emoji", 
                    "Segoe UI Symbol", 
                    "Noto Color Emoji";
}
    #black-dots{fill: #0a1935}
    #white-dots{fill: #fff; stroke: #0a1935; stroke-width: 1;}
    #main-circle{fill: none; stroke-width: 1;}
    #dot-names{fill: #0a1935;}
    #dot-values{font-family: sans-serif; letter-spacing: -1px; font-weight: 600;}

    .fill-red {fill: #E11D48;}
    .fill-orange {fill: #f7a648;}
    .fill-yellow {fill: #efdb28;}
    .fill-green {fill: #7ddc32;}
    .fill-light-blue {fill: #27aefb;}
    .fill-blue {fill: #2f72f3;}
    .fill-violet {fill: #9659e3;}
    .fill-gray-800 {fill: #1F2937;}

    .ts {font-weight: 600;}
    .ts-w {fill: #ffffff;}
    .ts-1 {font-size: 3rem;}
    .ts-2 {font-size: 2.2rem;}
    .ts-3 {font-size: 1.4rem;}
    .ts-4 {font-size: 1rem;}

    .stroke-gray-800 {stroke: #1F2937;}
    .stroke-gray-700 {stroke: #374151;}

text {color: black;}
table {
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.personal-calculation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.personal-calculation-table th, .personal-calculation-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.personal-calculation-table th {
    background-color: #f2f2f2;
    text-align: center;
}

.personal-calculation-table td {text-align: center;}

.round {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/*=== Animation SVG =====*/
.trans { transform: rotateY(0deg); }
.transCLOSE {
    transition: all 0.5s linear 0s;
    transform: rotateX(90deg);
}
.transOPEN {
    transition: all 0.5s linear 0s;
    transform: rotateX(0deg);
}

.obch div {
    border-radius: 50%;
    text-align: center;
    line-height: 10%;
}