.container {
    display: flex;
    justify-content: space-between;
}

/*===== MAIN =====*/
.main-left, .main-right {
    width: 48%;
}
.main-left {
    max-width: 50%;
}
.main-right {
    max-width: 45%;
}
.main-right img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}
.photo {
    max-width: 100%;
    height: auto;
    display: block;
}


.info1, .info2 {
    margin-bottom: 15px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 200px;
}


.attention, .attention2 {
    color: red;
    margin-top: 10px;
    display: none;
}
