/*===== Сброс стилей =====*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    margin: 0 auto;
}

main {
    padding: 20px;
}

header {
    background-color: #1976d2;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}


button {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {
    background-color: #155a9a;
}
.btn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 354px;
    height: 40px;
    border-radius: 9px;
    background: #a1dbab;
    color: black;
    font-size: 15px;
    border-width: 1px;
    margin-bottom: 50px;
}
