# Зависимости
node_modules/
bower_components/

# Сборки продукта
dist/
build/
temp/

# Логи
*.log

# Файлы системы и редактора
.DS_Store
Thumbs.db
.idea/
.vscode/

# Секретные файлы
.env

# Файлы состояния редактора
*.sublime-workspace
*.sublime-project

# Вспомогательные файлы
*.swp
*~

Date.txt