tbody .strokeTable-7 { background: violet; color: white; }
tbody .strokeTable-6 { background: indigo; color: white; }
tbody .strokeTable-5 { background: blue; color: white; }
tbody .strokeTable-4 { background: green; color: white; }
tbody .strokeTable-3 { background: yellow; }
tbody .strokeTable-2 { background: orange; }
tbody .strokeTable-1 { background: red; color: white; }
