/*===== reset.css =====*/
@media (max-width: 768px) {
    .container {
        padding: 20px;
        flex-direction: column;
    }

    main {
        padding: 10px;
    }

    button {
        width: 100%;
        padding: 12px;
    }
}


/*===== MAIN.css =====*/
@media (max-width: 768px) {
    .container {
        justify-content: center;
        flex-direction: column;
    }

    .container main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
    .main-left, .main-right {
        width: 90%;
        padding: 0;
    }

    /* Left */
    .main-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /* Left (text) */
    .main-left h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .main-left p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .main-right {
        display: none;
    }

    .tabs {
        flex-direction: column;
    }

    .tab {
        width: 100%;
        margin-bottom: 10px;
    }
}


/*===== Header and Footer.css =====*/
@media (max-width: 768px) {
    .navbar, .footer-navbar {
        flex-direction: column;
        align-items: end;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #009688;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .menu-toggle {
        display: block;
    }
    .nav-links, .footer-links {
        display: none;
    }

    .header-logo img, .footer-logo img {
        width: 60px;
    }

    .header_nav-icon img, .footer_nav-icon img {
        display: none;
    }

    header, footer {
        padding: 10px 0;
    }

    .nav-links a, .footer-links a {
        font-size: 1em;
        text-align: center;
        padding: 0зч;
    }
}


/*===== InfoBlock.css =====*/
@media (max-width: 768px) {
    .info-blocks {
        grid-template-columns: 1fr;
    }

    .info-block {
        padding: 20px;
    }

    .info-block h2 {
        font-size: 20px;
    }

    .info-block p {
        font-size: 14px;
    }
}

/*===== Importance.css =====*/
@media (max-width: 768px) {
    .importance-content {
        flex-direction: column;
        text-align: center;
    }
    .importance-text ul {
        text-align: center;
    }
    .importance-text li {
        font-size: 16px;
        margin-bottom: 20px;
        padding-left: 0;
    }
    .importance-text li::before {
        display: none;
    }
    .importance-header h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .importance-button button {
        font-size: 16px;
    }
}


/*===== How-It-Works.css =====*/
@media (max-width: 768px) {
    .how-it-works-section {
        padding: 20px;
    }

    .how-it-works_title h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .tab-buttons {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .tab-buttons .tab {
        font-size: 16px;
        padding: 10px 0; 
    }

    .tab-content {
        padding: 20px;
    }

    .tab-content h3 {
        font-size: 22px;
    }

    .tab-content p, .tab-content ul li {
        font-size: 16px; 
    }
}


/*===== Year-by-Year.css =====*/
@media (max-width: 768px) {
    .year-by-year-container {
        padding: 10px;
    }

    .year-controls {
        flex-direction: column;
        gap: 5px;
    }

    .year-arrow {
        padding: 5px;
    }

    #year-select {
        width: 100%;
    }

    .year-info {
        padding: 15px;
    }

    .year-info h3 {
        font-size: 1em;
    }

    .year-info p {
        font-size: 0.9em;
    }
}


/*===== Form.css =====*/
@media (max-width: 768px) {
    .tabs {
        flex-direction: column;
    }

    .tab {
        width: 100%;
        margin-bottom: 10px;
    }

    .form_input input {
        width: 100%;
    }
}


/*===== Scroll-To-Top.css =====*/
@media (max-width: 480px) {
    #scrollToTopBtn {
        position: fixed;
        border-radius: 0px;
        bottom: 0;
        left: 0;
        z-index: 101;
        width: 100px;
        height: 100px;
        padding: 8px;
    }
}

/*===== menu-toggle.css =====*/
@media (max-width: 768px) {
    .menu-button-wrapper {
        position: relative;
        display: block;
        padding-right: 10px;
    }
    .item-list {
        display: flex;
        flex-direction: column;
    }
}
