.info1, .info2 {
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
}
#name, #date,
#name-financial, #date-financial,
#name-compatibility, #partner-name, #date-compatibility, #partner-date,
#child-name, #child-date {
    border: 1px solid grey;
        border-top-width: 1px;
        border-top-color: grey;
        border-right-width: 1px;
        border-right-color: grey;
        border-bottom-width: 1px;
        border-bottom-color: grey;
        border-left-width: 1px;
        border-left-color: grey;
    width: 306px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 9px;
    border-width: 1px;
    background-color: #E2EBE9;
    border-color: grey;
}


/*===== FORM =====*/
.tabs {
    display: flex;
    gap: 2px;
    margin-bottom: 30px;
}
.tab {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #009688;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.tab.active {
    background-color: #a1dbab;
    color: #fff;
}
.tabs button {
    margin-left: 2px;
}

.forms .form {
    display: none;
}

.forms .form.active {
    display: block;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form_input input[type="date"],
.form_input input[type="name"],

.form_input input {
    width: 80%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form_input input[type="date"]:focus {
    border-color: #a1dbab;
    outline: none;
}

.form_toggle {
    display: flex;
    gap: 16px;
    margin-top: 10px;
}

.form_toggle-item {
    position: relative;
}

.form_toggle-item input {
    display: none;
}

.form_toggle-item label {
    display: block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.form_toggle-item input:checked + label {
    background-color: #a1dbab;
    color: #fff;
}
.item-1{
    display: flex;
}
.item-1 label {
    padding-top: 10px;
}
.item-2 label {
    padding-top: 10px;
}