.about-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.about-description h2 {
    color: #002ab3;
}
.about-purpose h2 {
    color: #8c00b3;
}

.about-description, .about-purpose {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.06);
}

.about-description h2, .about-purpose h2 {
    margin-bottom: 10px;
}
.about-description p, .about-purpose p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}