/*===== АДАПТАЦИЯ =====*/
/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    .header_content {
        flex-direction: column;
        padding: 10px;
    }

    main {
        flex-direction: row;
        justify-content: space-around;
    }

    .main-container {
        flex-direction: column;
    }


    .form-section form {
        flex-direction: column;
    }

    .tabs-section {
        flex-direction: column;
    }

    .tab-button {
        width: 100%;
        margin: 5px 0;
    }
}

@media (min-width: 768px) {
    .about-container {
        flex-direction: row;
        justify-content: space-around;
    }
}