@media (max-width: 768px) {
    .header_content {
        flex-direction: column; 
    }

    .header_menu-left {
        justify-content: center; 
        flex-wrap: wrap;
    }

    .header_menu-left li {
        margin: 5px;
    }
    
    .main-container {
        width: 100%;
        margin: 20px auto;
    }
}