/*===== reset.css =====*/
@media (max-width: 768px) {
    .container {
        padding: 20px;
        flex-direction: column;
    }

    main {
        padding: 10px;
    }

    button {
        width: 100%;
        padding: 12px;
    }
}


/*===== MAIN.css =====*/
/* Мобильные устройства (до 768px) */
@media (max-width: 768px) {
    .container {
        justify-content: center;
        flex-direction: column;
    }

    .container main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
    .main-left, .main-right {
        width: 90%;
        padding: 0;
    }

    /* Left */
    .main-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /* Left (text) */
    .main-left h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .main-left p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .main-right {
        display: none;
    }

    .tabs {
        flex-direction: column;
    }

    .tab {
        width: 100%;
        margin-bottom: 10px;
    }
}


/*===== Header and Footer.css =====*/
/* Мобильные устройства (до 768px) */
@media (max-width: 768px) {
    .navbar, .footer-navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links, .footer-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 80%;
        margin: 10px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 20px;
    }

    .header-logo img, .footer-logo img {
        width: 60px;
    }

    .header_nav-icon img, .footer_nav-icon img {
        display: none;
    }

    header, footer {
        padding: 10px 0;
    }

    .nav-links a, .footer-links a {
        font-size: 1em;
        text-align: center;
        padding: 0зч;
    }
}


/*===== InfoBlock.css =====*/
/* Мобильные устройства (до 768px) */
@media (max-width: 768px) {
    .info-blocks {
        grid-template-columns: 1fr;
    }

    .info-block {
        padding: 20px;
    }

    .info-block h2 {
        font-size: 20px;
    }

    .info-block p {
        font-size: 14px;
    }
}


/*===== Year-by-Year.css =====*/
/* Мобильные устройства (до 768px) */
@media (max-width: 768px) {
    .year-by-year-container {
        padding: 10px;
    }

    .year-controls {
        flex-direction: column;
        gap: 5px;
    }

    .year-arrow {
        padding: 5px;
    }

    #year-select {
        width: 100%;
    }

    .year-info {
        padding: 15px;
    }

    .year-info h3 {
        font-size: 1em;
    }

    .year-info p {
        font-size: 0.9em;
    }
}


/*===== Form.css =====*/
/* Мобильные устройства (до 768px) */
@media (max-width: 768px) {
    .tabs {
        flex-direction: column;
    }

    .tab {
        width: 100%;
        margin-bottom: 10px;
    }

    .form_input input {
        width: 100%;
    }
}


/*===== Scroll-To-Top.css =====*/
/* Мобильных устройств (до 480px) */
@media (max-width: 480px) {
    #scrollToTopBtn {
        position: fixed;
        border-radius: 0px;
        bottom: 0;
        left: 0;
        z-index: 101;
        width: 100px;
        height: 100px;
        padding: 8px;
    }
}
