.main-container_input {
    left: 111px;
    top: 40px;
    display: grid;
    z-index: 14;
}
.inputi1669938916 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #252525;
}
.inputi1669939104 {
    background: #0068d8;
    border-radius: 30px 30px 30px 30px;
    color: #ffffff;
    padding: 5px 0px 2px 0px;
}

.main-section {
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    padding: 30px;
    border-radius: 30px;
    display: flex; 
    flex-direction: row; 
    gap: 20px; 
    margin-top: 20px;
    align-items: center; 
    justify-content: center; 
    width: 90%; 
}

/* Стилизация формы */
.form-section {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    margin-bottom: 20px; 
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; 
}

.input-group label {
    font-size: 16px; 
    font-weight: bold;
    color: #0056b3; 
    margin-bottom: 5px;
}

.input-group input, .input-group button {
    padding: 12px;
    border: 2px solid #ccc; 
    border-radius: 5px;
    font-size: 14px; 
}

.input-group button {
    background-color: #0068d8;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.input-group button:hover {
    background-color: #004b8d; 
}

/* Стилизация вкладок */
.tabs-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    width: 100%; 
}

.tab-button {
    background: none;
    border: 2px solid #004b8d;
    margin: 5px;
    flex-grow: 1;
    padding: 10px 20px;
    border-radius: 20px;
    color: #004b8d;
    font-weight: bold;
    transition: all 0.3s ease;
}

.tab-button.active,
.tab-button:hover {
    background-color: #0068d8;
    color: white;
}

/*===== КНОПКА (РАССЧИТАТЬ) =====*/
#dateForm a {
    background: #0068d8;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    display: block;
    border-radius: 40px;
    margin-top: 10px;
}
