/*=== ТЕКСТ слево от формы ===*/
.main-container_input {
    left: 111px;
    top: 40px;
    display: grid;
    z-index: 14;
}
.inputi1669938916 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #252525;
}
.inputi1669939104 {
    background: #0068d8;
    border-radius: 30px 30px 30px 30px;
    color: #ffffff;
    padding: 5px 0px 2px 0px;
}





/*===== ФОРМА (ЗАЯВКА) =====*/


/*===== ПЕРЕКЛЮЧЕНИЕ ВКЛАДОК =====*/
.tabs-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки для кнопок */
    gap: 20px; /* Отступы между кнопками */
    padding: 20px; /* Внутренний отступ в секции */
    background: #f9f9f9; /* Фон всей секции */
    border-radius: 10px; /* Скругление углов секции */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для секции */
    max-width: 600px; /* Максимальная ширина секции */
    margin: 20px auto; /* Центрирование секции */
}

.tab-button {
    background-color: #fff; /* Белый фон для каждой кнопки */
    border: 2px solid #ccc; /* Граница кнопки */
    color: #333; /* Цвет текста */
    padding: 15px; /* Паддинг внутри кнопки */
    font-size: 16px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    text-align: center; /* Текст по центру */
    border-radius: 8px; /* Скругление углов кнопки */
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s; /* Анимация изменения фона */
}

.tab-button:hover, .tab-button.active {
    background-color: #e6e6e6; /* Светло-серый фон при наведении и для активной кнопки */
    color: #0056b3; /* Синий цвет текста при наведении и для активной кнопки */
}
