/*====== HEADER ======*/
/* Стили для шапки */
.header_content {
    box-sizing: border-box;
    position: relative;
    height: 90px;
    background: #0056b3;
    border-radius: 3000px;
    padding: 0px 35px 0px 35px;
    display: grid;
    grid-template-columns: 1fr 100px;
    justify-items: center;
    align-items: center;
}

.header_menu-left {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.header_menu-left li {
    margin-right: 20px; 
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.2); 
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: white; 
    font-weight: bold; 
}
.header_menu-left li:hover {
    background-color: rgba(255, 255, 255, 0.4); 
    color: #0056b3;
}




/*====== MAIN ======*/
main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.main-section, .title-section {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 30px;
}

.tabs-section {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}
.tab-button {
    background: none;
    border: 2px solid #06b1e3;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    color: #06b1e3;
    margin: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.tab-button.active,
.tab-button:hover {
    background-color: #06b1e3;
    color: white;
}


button {
    background-color: #06b1e3;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0082b4;
}