/*===== MAIN =====*/
.main-left {
    flex: 1;
}
.main-left h1 {
    font-size: 36px;
}
.main-left p {
    font-size: 18px;
    margin-top: 30px;
    line-height: 1.5;
}

.main-right {
    max-width: 45%;
}
.main-right img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.main-right img:hover {
    transform: scale(1.05); 
    filter: brightness(0.9);
}

.photo {
    max-width: 100%;
    height: auto;
    display: block;
}


.info1, .info2 {
    margin-bottom: 15px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 200px;
}


.attention, .attention2 {
    color: red;
    margin-top: 10px;
    display: none;
}
