/*====== HEADER ======*/
header {
    padding: 10px 0; 
}

.header_content {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.header_content-left {
    flex: 1; 
}

.header_menu-left {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    align-items: center; 
}
.header_menu-left li {
    margin-right: 20px;
    padding: 10px 15px; 
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; 
}
.header_menu-left li:hover {
    background-color: #e9ecef;
    color: #0056b3;
}


/*====== MAIN ======*/
main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.main-left, .main-right {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column; /* Задает вертикальное выравнивание содержимого */
    justify-content: center; /* Центрирует содержимое по вертикали */
}

.main-left {
    order: 1;
}

.main-right {
    order: 2;
    display: flex;
    align-items: center; /* Центрирует изображение по вертикали */
    justify-content: center; /* Центрирует изображение по горизонтали */
}

.main-right__Picture {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 30px; /* Скругленные углы для изображения */
}