body {
    font-family: Arial, sans-serif;
    background-color: #f9f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}


.container {
    width: 90%;
    max-width: 1280px; /* Адаптировано под большую ширину */
    margin: 0 auto;
}
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}
h1 {
    margin-bottom: 16px;
}
p {
    color: #666; 
    line-height: 1.5;
}

form {
    margin-top: 20px; 
}