/*===== Сброс стилей =====*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

main {
    padding: 20px;
}

/*===== HEADER =====*/
header {
    background-color: #009688;
    width: 70%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: center
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/*===== NAVIGATION =====*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
}
.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background 0.3s, color 0.3s;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.navbar ul li a:hover {
    background: #00796b;
}

.navbar ul li .login-btn {
    background-color: white;
    color: #009688;
    border-radius: 25px;
}
.navbar ul li .login-btn:hover {
    background-color: #f0f4f8;
    color: #00796b;
}

.navbar ul li a i {
    margin-right: 8px;
}


/*===== BUTTONS =====*/
button {
    background-color: #009688;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {
    background-color: #a1dbab;
}

/*=== Стиль кнопки ===*/
.btn {
    padding: 12px 20px;
    background-color: #009688;
    margin-top: 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #89c194;
}