body {
    font-family: Arial, sans-serif;
    background: #e9f0f7;
    color: #333;
    text-align: center;
    padding: 20px;
}


.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}
h1 {
    margin-bottom: 16px;
}
p {
    color: #666; 
    line-height: 1.5;
}

form {
    margin-top: 20px; 
}
.blocktext strong {
    display: inline-block;
    font-weight: normal;
}

button {
    background-color: #004b8d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; 
}
button:hover {
    background-color: #032d52;
}